tmp
lib
cmake/build.ninja
cmake/CMakeCache.txt
cmake/CMakeScripts
cmake/CMakeFiles
cmake/cmake_install.cmake
cmake/*.xcodeproj
cmake/*.vcxproj.filters
cmake/*.vcxproj
cmake/*.sln
cmake/.vs
cmake/src
cmake/x64/
cmake/config.h
cmake/cog.build/
cmake/cog.workspace
cmake/cog.project
cmake/.ninja_deps
cmake/.ninja_log
usr/share/boost/1.71.0/b2
usr/share/boost/1.71.0/bin.v2/
usr/share/boost/1.71.0/bootstrap.log
usr/share/boost/1.71.0/libs/config/checks/architecture/bin/
usr/share/boost/1.71.0/project-config.jam
usr/share/boost/1.71.0/tools/build/src/engine/b2
usr/share/boost/1.71.0/tools/build/src/engine/bjam
